/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat/montserrat-v15-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat/montserrat-v15-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat/montserrat-v15-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat/montserrat-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat/montserrat-v15-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat/montserrat-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat/montserrat-v15-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat/montserrat-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat/montserrat-v15-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat/montserrat-v15-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* default */

:root {
  --content-width: 1050px;
  --mob-padding: 20px;
  --gutter: 15px;
  --dark-background-color: #252b42;
  --primary-color: #23a6f0;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  margin: 0;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

ul {
  padding-left: 0;
}

/* components */

.container {
  max-width: calc(var(--content-width) + var(--mob-padding) * 2);
  padding-left: var(--mob-padding);
  padding-right: var(--mob-padding);
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--gutter) * -1);
  margin-left: calc(var(--gutter) * -1);
}

.btn {
  display: inline-block;
  padding: 15px 36px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  appearance: none;
}

.btn_prime {
  background-color: var(--primary-color);
}

.btn_round {
  border-radius: 999px;
}

.btn_la::after {
  content: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 5C0 4.81059 0.079009 4.62895 0.219646 4.49502C0.360282 4.36108 0.551026 4.28584 0.749916 4.28584H9.43845L6.21831 1.22068C6.07749 1.08658 5.99838 0.904705 5.99838 0.715059C5.99838 0.525414 6.07749 0.343536 6.21831 0.209436C6.35912 0.0753365 6.5501 0 6.74925 0C6.94839 0 7.13937 0.0753365 7.28019 0.209436L11.7797 4.49438C11.8495 4.56072 11.9049 4.63952 11.9427 4.72629C11.9805 4.81305 12 4.90606 12 5C12 5.09394 11.9805 5.18695 11.9427 5.27371C11.9049 5.36048 11.8495 5.43928 11.7797 5.50562L7.28019 9.79056C7.13937 9.92466 6.94839 10 6.74925 10C6.5501 10 6.35912 9.92466 6.21831 9.79056C6.07749 9.65646 5.99838 9.47459 5.99838 9.28494C5.99838 9.0953 6.07749 8.91342 6.21831 8.77932L9.43845 5.71416H0.749916C0.551026 5.71416 0.360282 5.63892 0.219646 5.50499C0.079009 5.37106 0 5.18941 0 5Z' fill='white'/%3E%3C/svg%3E%0A");
  display: inline-block;
  margin-left: 15px;
  transition: 0.3s;
}

.btn_la:hover::after {
  transform: translate(3px, 0);
}

.btn_transparent {
  border-radius: 999px;
  border: 1px solid #fff;
}

.s-title {
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  max-width: 455px;
  text-align: center;
}

.s-subtitle {
  font-weight: 500;
  font-size: 14px;
  max-width: 470px;
  color: #fff;
  text-align: center;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--dark-background-color);
  z-index: 9;
}

@media (max-width: 920px) {
  .header {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo-wrap {
}

.header__logo-link {
}

.header__logo-img {
}

.header__menu-wrap {
  margin-right: auto;
  margin-left: 10%;
  margin-left: 7%;
}

@media (max-width: 920px) {
  .header__menu-wrap {
    display: none;
    margin-left: 0;
  }
}

.header__menu-wrap_visible {
  display: block;
  width: 100%;
  padding-top: 30px;
  order: 3;
}

.header__nav {
}

.header__menu {
  display: flex;
  list-style-type: none;
}

@media (max-width: 920px) {
  .header__menu {
    flex-direction: column;
    align-items: center;
  }
}

.header__menu-item {
  margin-right: 20px;
}

@media (max-width: 920px) {
  .header__menu-item {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.header__menu-item:last-child {
  margin-right: 0;
}

@media (max-width: 920px) {
  .header__menu-item:last-child {
    margin-bottom: 0;
  }
}

.header__item-link {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}

.header__customer-area {
}

@media (max-width: 920px) {
  .header__customer-area {
    margin-left: auto;
  }
}

.header__login-link {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin-right: 45px;
}

.header__cta {
}

@media (max-width: 920px) {
  .header__cta {
    display: none;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 920px) {
  .header__burger {
    display: block;
  }
}

/* promo */
.promo {
  padding-top: 184px;
  padding-bottom: 80px;
  background-color: var(--dark-background-color);
  background-image: url(../img/promo/bg-el.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left 0 top 120px;
  overflow: hidden;
  color: #fff;
}

@media (max-width: 560px) {
  .promo {
    padding-top: 140px;
    padding-bottom: 35px;
  }
}

.promo__info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% / 12 * 6 - var(--gutter) * 2);
  margin-right: var(--gutter);
  margin-left: var(--gutter);
}

@media (max-width: 920px) {
  .promo__info-block {
    width: calc(100% - var(--gutter) * 2);
  }
}

.promo__title {
  font-weight: 800;
  font-size: 58px;
  margin-bottom: 35px;
}

@media (max-width: 560px) {
  .promo__title {
    font-size: 11vw;
    text-align: center;
  }
}

.promo__info-txt {
  font-weight: 500;
  font-size: 20px;
  max-width: 376px;
  margin-bottom: 35px;
}

@media (max-width: 560px) {
  .promo__info-txt {
    text-align: center;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.promo__btns {
}

@media (max-width: 560px) {
  .promo__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.promo__cta {
  margin-right: 10px;
}

@media (max-width: 560px) {
  .promo__cta {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.promo__learn-more {
}

.promo__bg-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 12 * 6 - var(--gutter) * 2);
  margin-right: var(--gutter);
  margin-left: var(--gutter);
}

@media (max-width: 920px) {
  .promo__bg-block {
    padding-top: 50px;
    padding-bottom: 50px;
    width: calc(100% - var(--gutter) * 2);
  }
}

@media (max-width: 560px) {
  .promo__bg-block {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.promo__bg-block::after,
.promo__bg-block::before {
  content: "";
  position: absolute;
  width: 100%;
  padding-top: 100%;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.promo__bg-block::before {
  background-image: url(../img/promo/part1.svg);
  width: 105%;
  left: -25px;
  animation-name: rotating1;
  animation-iteration-count: infinite;
  animation-duration: 40s;
}

.promo__bg-block::after {
  background-image: url(../img/promo/part2.svg);
  animation-name: rotating2;
  animation-iteration-count: infinite;
  animation-duration: 30s;
}

.promo__phone-img {
  position: relative;
  z-index: 2;
  animation-name: slidein;
  animation-duration: 2.5s;
}

@keyframes rotating1 {
  0% {
    transform: translate(0, -50%);
  }

  50% {
    transform: translate(0, -50%) rotate(1turn) scale(1.2);
  }

  100% {
    transform: translate(0, -50%);
  }
}

@keyframes rotating2 {
  0% {
    transform: translate(0, -50%);
  }

  50% {
    transform: translate(0, -50%) rotate(1turn);
  }

  100% {
    transform: translate(0, -50%);
  }
}

@keyframes slidein {
  from {
    transform: translate(0, -20%);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* pluses */
.pluses {
  background: var(--dark-background-color);
  padding-top: 140px;
  padding-bottom: 10px;
  color: #fff;
}

@media (max-width: 920px) {
  .pluses{
    padding-top: 75px;
  }
}

.pluses__title {
  /* max-width: 435px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

@media (max-width: 560px) {
  .pluses__title br{
    display: block;
  }
}

.pluses__subtitle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

@media (max-width: 920px) {
  .pluses__subtitle {
    margin-bottom: 45px;
  }
  
}

.pluses__card {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  margin-bottom: 30px;
}

@media (max-width: 560px) {
  .pluses__card:last-child {
    margin-bottom: 0;
  }
}



.plus-card {
  position: relative;
  width: calc(100% / 12 * 4 - var(--gutter) * 2);
  color: #fff;
  border: 1px solid #f2f2f2;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 27px;
  padding-left: 88px;
  border-radius: 2px;
  word-break: break-word;
}

@media (max-width: 560px) {
  .plus-card {
    border-color: transparent;
  }
}

@media (max-width: 920px) {
  .plus-card {
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
  }
}

@media (max-width: 560px) {
  .plus-card {
    width: calc(100% - var(--gutter) * 2);
  }
}

.plus-card__ico {
  position: absolute;
  top: 35px;
  left: 20px;
  max-width: 50px;
}

.plus-card__title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.plus-card__subtitle {
  font-weight: 500;
  font-size: 14px;
}
