/* default */

:root {
  --content-width: 1050px;
  --mob-padding: 20px;
  --gutter: 15px;
  --dark-background-color: #252b42;
  --primary-color: #23a6f0;
  --grey: #737373;
  --text-color: #fff;
}

html[data-mode='light'] {
  --dark-background-color: #f1f1f1;
  --primary-color: #46b1f0;
  --grey: #c4c4c4;
  --text-color: #252b42;
}

html[data-mode='light'] img {
  opacity: 0.7;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  margin: 0;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

ul {
  padding-left: 0;
}